* {
  margin: 0 auto;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}

html {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

body {
  min-height: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;
  padding: 20px;
  border-bottom: 2px solid;
  background-color: rgba(118, 227, 149, 0.5);
}

.navbar a {
  color: black;
  font-style: bold;
}